<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
</head>
<body>
    <form action="/product/save" method="post">
        <input name="name" placeholder="name">
        <input name="price" placeholder="price">
        <button>Save</button>
    </form>
    Previously entered product
    <ul>
        <li>
            Name: <span th:text="${name}"></span>
            <br>
            Price: <span th:text="${price}"></span>
        </li>
    </ul>
    Product list
    <ul>
        <th:block th:each="item: ${productList}">
            <li>
                Name: <span th:text="${item.name}"></span>
                <br>
                Price: <span th:text="${item.price}"></span>
                <hr>
            </li>
        </th:block>
    </ul>
</body>
</html>